/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

:root {
    --cor-primaria: rgba(255, 121, 55, 0.91);
    --cor-secundaria: rgba(255, 121, 55, 0.91);
    --cor-texto: rgb(79, 79, 79);
   
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.icon-item {
  display: flex;
  align-items: center;
  background: #e9e9e9;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 14px;
  color: #333;
}

.wy {
  font-weight: bold;
  margin-right: 5px;
}



.number, .time {
  font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}


.contaniner-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
   
}

.item {
    display: flex;
    padding: 10px 5px;
    border-radius: 2px;
    font-size: 1.2rem;
}

body {
    background-color: #ffffff;
    color: var(--cor-primaria);
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}

header {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 1rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.destaque {
    background-color: var(--cor-secundaria);
    border-radius: 30px;
    font-size: 2.25rem;
    color: #ffffff;
    text-align: right;
    padding: 0.5rem;
}

h1 {
    font-size: 3.0rem;
    font-weight: bold;
    margin: 0 auto; 
    padding: 0;
    color: #131313;
    text-align: center;
}

h2 {
    font-size: 2.0rem;
    display: flex;
    justify-content: flex-end;
    
}

.avaliacao-box {
    border: 3px solid #ff6a28;
    border-radius: 30px;
    padding: 7px 20px;
    background-color: #ff6a28;
    display: inline-block;
    font-size: clamp(20px, 1.2vw, 20px);
    color: #ffffff;

}

p {
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
}

h3 {
    color: rgb(20, 20, 20);
    font-weight: bold;
    background: #ececec;
    padding: 5px 18px;
    border-radius: 2px;
    font-size: 1.5rem;
    
}


.video-container {
    margin: 2rem 0;
    text-align: center;
}

.video-container iframe {
    border: none;
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 1rem 0;
    color: #333;
    font-size: 1.0rem;
}

@media(max-width: 768px) {
    .contaniner-flex {
        width: 95%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .destaque {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .avaliacao-box {
        font-size: 17px;
        padding: 5px 15px;
    }

    .video-container iframe {
        width: 100%;
        height: 400px;
    }
}

/* Restante do CSS permanece similar */

