/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --cor-primaria: rgb(255, 85, 0);
    --cor-secundaria: rgb(255, 85, 0);
    --cor-texto: rgb(79, 79, 79);
   
}


body {
    background-color: #ffffff;
    color: var(--cor-primaria);
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}

header {
    text-align: center;
    font-size: 1rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.destaque {
    background-color: var(--cor-secundaria);
    border-radius: 30px;
    font-size: 1.25rem;
    color: #ffffff;
    text-align: right;
    padding: 0.5rem;
}

h1 {
    font-size: 2.8rem;
    margin: 0 auto; 
    padding: 0;
    color: var(--cor-texto);
    text-align: center;
}

h2 {
    display: flex;
    justify-content: flex-end;
    
}

.avaliacao-box {
    border: 1px solid rgb(255, 85, 0);
    border-radius: 20px;
    padding: 7px 20px;
    background-color: rgb(255, 85, 0);
    display: inline-block;
    font-size: clamp(16px, 1.2vw, 20px);
    color: #ffffff;

}

p {
    color:black;
}

h3 {
    border: 1px solid #4b4b4b;
    padding: 5px;
    color: #282828;
    font-size: 20px;
}

.video-container {
    margin: 2rem 0;
    text-align: center;
}

.video-container iframe {
    border: none;
    max-width: 100%;
}

/* Restante do CSS permanece similar */